In [1]:
import pandas as pd
import numpy as np
hr = pd.read_csv('D:/Downloaded rcodes and datasets/HR Analytics.csv')

In [2]:
hr_dummies = pd.get_dummies(hr.drop('Attrition', axis=1)) 
hr_dummies['Attrition'] = hr["Attrition"]

In [3]:
# Standardizing the dummy dataset
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
hr_scaled = scaler.fit_transform(hr_dummies.drop('Attrition', axis=1))
hr_scaled = pd.DataFrame(hr_scaled, columns = hr_dummies.drop('Attrition', axis=1).columns)
hr_scaled['Attrition'] = hr['Attrition']

In [4]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(hr_scaled, test_size = 0.3, random_state = 100)

In [5]:
train_x = train.drop('Attrition', axis=1)
train_y = train["Attrition"]
test_x = test.drop('Attrition', axis=1)
test_y = test["Attrition"]

In [27]:
test_x.iloc[0]
train_x.iloc[0]

Age                                  0.993860
DistanceFromHome                    -1.010909
Education                           -0.891688
EmployeeNumber                      -1.297507
EnvironmentSatisfaction             -0.660531
JobInvolvement                       0.379672
JobSatisfaction                     -1.567907
MonthlyIncome                        0.839305
NumCompaniesWorked                  -0.678049
PercentSalaryHike                    2.675949
PerformanceRating                    2.346151
RelationshipSatisfaction             0.266233
TotalWorkingYears                    1.635406
WorkLifeBalance                      0.338096
YearsAtCompany                       2.774431
YearsInCurrentRole                   2.421585
YearsSinceLastPromotion              3.977310
YearsWithCurrManager                 0.806541
BusinessTravel_Non-Travel           -0.337100
BusinessTravel_Travel_Frequently    -0.481859
BusinessTravel_Travel_Rarely         0.639841
Department_Human Resources          -0.211604
Department_Research & Development   -1.374051
Department_Sales                     1.515244
EducationField_Human Resources      -0.136788
EducationField_Life Sciences        -0.837490
EducationField_Marketing             2.871460
EducationField_Medical              -0.679141
EducationField_Other                -0.243059
EducationField_Technical Degree     -0.314093
Gender_Female                        1.224745
Gender_Male                         -1.224745
JobRole_Healthcare Representative   -0.312785
JobRole_Human Resources             -0.191498
JobRole_Laboratory Technician       -0.462464
JobRole_Manager                     -0.273059
JobRole_Manufacturing Director      -0.330808
JobRole_Research Director           -0.239904
JobRole_Research Scientist          -0.497873
JobRole_Sales Executive              1.873287
JobRole_Sales Representative        -0.244625
MaritalStatus_Divorced               1.869602
MaritalStatus_Married               -0.918921
MaritalStatus_Single                -0.685565
Name: 178, dtype: float64

In [53]:
from sklearn.metrics.pairwise import euclidean_distances 

df = pd.Series(euclidean_distances([test_x.iloc[1].tolist()], train_x).flatten(), index=train_x.index)

In [55]:
indices = df.sort_values().head().index

indices

Int64Index([36, 182, 539, 1308, 1087], dtype='int64')

In [64]:
train
kl = pd.DataFrame(columns=['index','pred'])
for i in indices:
    s = hr_scaled.iloc[i,-1]
    sd = {'index':i, 'pred':s}
    kl = kl.append(sd, ignore_index=True)

In [65]:
kl

  index pred
0    36    1
1   182    1
2   539    0
3  1308    0
4  1087    0

In [61]:
print("predicted :",kl["pred"].value_counts().index.tolist()[0])

predicted : 0

In [62]:
print("Actual :",test["Attrition"].iloc[0])

Actual : 0

In [6]:
# User-defined code for KNN

from sklearn.metrics.pairwise import euclidean_distances


new_df =  pd.DataFrame(columns=['actual','predicted'])

for j in test.index.tolist():
    df = pd.Series(euclidean_distances([test_x.loc[j]], train_x).flatten(), index=train_x.index)
    indices = df.sort_values().head().index
    kl = pd.DataFrame(columns=['index','pred'])
    for i in indices:
        s = hr_scaled.iloc[i,-1]
        sd = {'index':i, 'pred':s}
        kl = kl.append(sd, ignore_index=True)
    predicted = kl["pred"].value_counts().index.tolist()[0]
    actual = test["Attrition"].loc[j]
    ol = {'actual':actual,'predicted':predicted}
    new_df = new_df.append(ol, ignore_index=True)

In [106]:
    print(len(df))
    indices = df.sort_values().head().index
    kl = pd.DataFrame(columns=['index','pred'])
    for i in indices:
        s = hr_scaled.iloc[i,-1]
        sd = {'index':i, 'pred':s}
        kl = kl.append(sd, ignore_index=True)
    predicted = kl["pred"].value_counts().index.tolist()[0]
    actual = test["Attrition"].iloc[i]
    ol = {'actual':actual,'predicted':predicted}
    new_df = new_df.append(ol, ignore_index=True)

1029

In [20]:
test.index.tolist()

[880,
 152,
 1466,
 1084,
 1086,
 1392,
 57,
 956,
 1400,
 1175,
 949,
 704,
 1114,
 916,
 688,
 764,
 1374,
 1027,
 1234,
 207,
 562,
 671,
 692,
 675,
 134,
 289,
 1304,
 347,
 1446,
 374,
 661,
 185,
 1273,
 1333,
 789,
 1233,
 837,
 1051,
 1005,
 376,
 1231,
 487,
 1455,
 683,
 12,
 101,
 644,
 368,
 1167,
 1138,
 946,
 622,
 606,
 742,
 30,
 139,
 588,
 685,
 1350,
 1349,
 244,
 1467,
 1395,
 320,
 1356,
 1301,
 116,
 204,
 492,
 710,
 1046,
 719,
 901,
 913,
 1275,
 1137,
 1248,
 784,
 1255,
 1177,
 656,
 1148,
 1151,
 28,
 426,
 341,
 118,
 188,
 1034,
 917,
 689,
 474,
 753,
 157,
 1389,
 425,
 525,
 774,
 877,
 382,
 845,
 717,
 434,
 238,
 1039,
 29,
 174,
 1116,
 1080,
 1041,
 536,
 1451,
 903,
 679,
 1291,
 516,
 328,
 1181,
 1179,
 1370,
 1346,
 751,
 499,
 1113,
 520,
 549,
 928,
 948,
 1157,
 298,
 733,
 277,
 1216,
 479,
 533,
 173,
 1105,
 103,
 301,
 1241,
 955,
 551,
 734,
 249,
 1099,
 1171,
 508,
 1188,
 680,
 521,
 863,
 695,
 170,
 1441,
 1363,
 646,
 402,
 330,
 41,
 1152,
 534,
 336,
 200,
 356,
 216,
 993,
 104,
 834,
 511,
 96,
 261,
 891,
 97,
 805,
 953,
 893,
 515,
 191,
 966,
 1060,
 1144,
 288,
 275,
 670,
 1362,
 228,
 995,
 1031,
 43,
 1419,
 682,
 169,
 830,
 537,
 1056,
 530,
 268,
 836,
 1463,
 321,
 904,
 560,
 1336,
 638,
 996,
 269,
 791,
 372,
 819,
 223,
 56,
 31,
 1264,
 431,
 777,
 361,
 64,
 723,
 258,
 490,
 299,
 247,
 1180,
 225,
 1469,
 1414,
 107,
 595,
 1023,
 1112,
 1055,
 250,
 1072,
 1132,
 1016,
 416,
 142,
 718,
 241,
 285,
 143,
 205,
 423,
 1183,
 797,
 509,
 232,
 354,
 1092,
 526,
 1331,
 964,
 1376,
 1391,
 1043,
 195,
 1033,
 701,
 1423,
 1306,
 1212,
 1420,
 626,
 861,
 411,
 637,
 1121,
 427,
 592,
 370,
 1410,
 775,
 1263,
 256,
 1201,
 1426,
 1310,
 19,
 1278,
 1025,
 790,
 1097,
 1224,
 1021,
 105,
 44,
 1385,
 503,
 259,
 825,
 824,
 190,
 991,
 568,
 1361,
 610,
 542,
 950,
 344,
 929,
 133,
 290,
 24,
 493,
 773,
 945,
 1272,
 531,
 538,
 1443,
 969,
 910,
 631,
 1433,
 1140,
 1403,
 1296,
 865,
 645,
 1065,
 48,
 463,
 954,
 766,
 902,
 110,
 198,
 67,
 552,
 450,
 108,
 1250,
 517,
 1102,
 1243,
 398,
 641,
 222,
 1134,
 1193,
 545,
 987,
 702,
 23,
 270,
 1312,
 1058,
 315,
 714,
 780,
 401,
 1197,
 979,
 432,
 842,
 267,
 137,
 850,
 876,
 91,
 632,
 1448,
 438,
 54,
 1035,
 164,
 1452,
 636,
 957,
 408,
 165,
 213,
 965,
 561,
 527,
 92,
 360,
 558,
 555,
 1415,
 4,
 1381,
 1354,
 176,
 982,
 772,
 1352,
 709,
 973,
 1042,
 786,
 532,
 975,
 886,
 1464,
 66,
 1435,
 1245,
 124,
 1283,
 1240,
 201,
 962,
 1249,
 1227,
 642,
 1257,
 1007,
 154,
 1459,
 69,
 614,
 816,
 1271,
 939,
 972,
 713,
 1185,
 353,
 980,
 1067,
 1299,
 896,
 1366,
 40,
 22,
 16,
 1141,
 345,
 1355,
 306,
 355,
 447,
 711,
 571,
 559,
 882,
 1388,
 380,
 573,
 221]

In [21]:
for i in test.index.tolist():
    print(i)

880
152
1466
1084
1086
1392
57
956
1400
1175
949
704
1114
916
688
764
1374
1027
1234
207
562
671
692
675
134
289
1304
347
1446
374
661
185
1273
1333
789
1233
837
1051
1005
376
1231
487
1455
683
12
101
644
368
1167
1138
946
622
606
742
30
139
588
685
1350
1349
244
1467
1395
320
1356
1301
116
204
492
710
1046
719
901
913
1275
1137
1248
784
1255
1177
656
1148
1151
28
426
341
118
188
1034
917
689
474
753
157
1389
425
525
774
877
382
845
717
434
238
1039
29
174
1116
1080
1041
536
1451
903
679
1291
516
328
1181
1179
1370
1346
751
499
1113
520
549
928
948
1157
298
733
277
1216
479
533
173
1105
103
301
1241
955
551
734
249
1099
1171
508
1188
680
521
863
695
170
1441
1363
646
402
330
41
1152
534
336
200
356
216
993
104
834
511
96
261
891
97
805
953
893
515
191
966
1060
1144
288
275
670
1362
228
995
1031
43
1419
682
169
830
537
1056
530
268
836
1463
321
904
560
1336
638
996
269
791
372
819
223
56
31
1264
431
777
361
64
723
258
490
299
247
1180
225
1469
1414
107
595
1023
1112
1055
250
1072
1132
1016
416
142
718
241
285
143
205
423
1183
797
509
232
354
1092
526
1331
964
1376
1391
1043
195
1033
701
1423
1306
1212
1420
626
861
411
637
1121
427
592
370
1410
775
1263
256
1201
1426
1310
19
1278
1025
790
1097
1224
1021
105
44
1385
503
259
825
824
190
991
568
1361
610
542
950
344
929
133
290
24
493
773
945
1272
531
538
1443
969
910
631
1433
1140
1403
1296
865
645
1065
48
463
954
766
902
110
198
67
552
450
108
1250
517
1102
1243
398
641
222
1134
1193
545
987
702
23
270
1312
1058
315
714
780
401
1197
979
432
842
267
137
850
876
91
632
1448
438
54
1035
164
1452
636
957
408
165
213
965
561
527
92
360
558
555
1415
4
1381
1354
176
982
772
1352
709
973
1042
786
532
975
886
1464
66
1435
1245
124
1283
1240
201
962
1249
1227
642
1257
1007
154
1459
69
614
816
1271
939
972
713
1185
353
980
1067
1299
896
1366
40
22
16
1141
345
1355
306
355
447
711
571
559
882
1388
380
573
221

,Age,DistanceFromHome,Education,EmployeeNumber,EnvironmentSatisfaction,JobInvolvement,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,...,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Attrition
0,0.44635,-1.010909,-0.891688,-1.701283,-0.660531,0.379672,1.153254,-0.10835,2.125136,-1.150554,...,-0.273059,-0.330808,-0.239904,-0.497873,1.873287,-0.244625,-0.534873,-0.918921,1.45865,1

In [52]:
hr_scaled.iloc[1161,-1]

0

In [7]:
new_df["status"] = new_df["actual"] == new_df["predicted"]

In [8]:
new_df["status"].sum()/new_df.shape[0]*100

84.12698412698413

In [ ]:

new_df =  pd.DataFrame(columns=['actual','predicted'])

for j in test.index.tolist():
    df = pd.Series(euclidean_distances([test_x.loc[j]], train_x).flatten(), index=train_x.index)
    indices = df.sort_values().head().index
    kl = pd.DataFrame(columns=['index','pred'])
    for i in indices:
        s = hr_scaled.iloc[i,-1]
        sd = {'index':i, 'pred':s}
        kl = kl.append(sd, ignore_index=True)
    predicted = kl["pred"].value_counts().index.tolist()[0]
    actual = test["Attrition"].loc[j]
    ol = {'actual':actual,'predicted':predicted}
    new_df = new_df.append(ol, ignore_index=True)